.homepage-container {
  width: 100vw;
  min-height: auto;
  max-height: 100vh;
  background-color: #2d3748;
  text-align: center;
}
.homepage-body{
  height: 70vh;
}


.homepage-title {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

.test {
  background-color: red;
}
