.homepage-container {
  width: 100vw;
  min-height: 100vh;
  max-height: auto;
  background-color: #267edb;
  text-align: center;
}
.homepage-body {
  height: 75vh;
}

.homepage-title {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .homepage-body {
    height: 90vh;
  }
}
