.container-city_name {
  padding-top: 2em;
}

.apiSuccess-container{
  width: 30%;
  margin: auto;
  background-color: #1D70BF;
  padding-top: 2em;
  padding-bottom: 2em;  
  border-radius: 5px;
  margin-top: 2em;
}
