.container-city_name {
  padding-top: 2em;
}

.apiSuccess-container {
  box-shadow: 5px 5px 5px grey;
  width: 60vw;
  margin: auto;
  //background-color: #15428c;
  border: 1px solid grey;

  padding-bottom: 2em;
  border-radius: 5px;
  margin-top: 2em;
  color: rgb(63, 63, 63);
  &-button {
    padding-top: 1em;
  }
}

.container-temp {
  width: 40vw;
  margin: auto;
  height: 5em;
  display: flex;
  flex-direction: row;
  &-temp {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 40%;
    height: 5em;
    line-height: 5em;
  }
  &-icon {
    margin: auto;
    width: 40%;
    height: 5em;
  }
  &-symbol {
    width: 5%;
    margin: auto;
    height: 5em;
    line-height: 5em;
  }
}
.container-heart {
  width: 30%;
  margin: auto;
  margin-top: 1em;
}

.container-heart > svg {
  width: 2em;
  height: 2em;
  margin: auto;
  margin-top: 1em;
}

@media screen and (max-width: 650px) {
  .apiSuccess-container {
    width: 80vw;
  }
  .container-temp {
    width: 40vw;
    margin: auto;
    height: 5em;
    display: flex;
    flex-direction: row;
    &-temp {
      margin: auto;
      width: 40%;
      height: 5em;
      line-height: 5em;
      display: flex;
      flex-direction: row;
    }
    &-icon {
      margin: auto;
      width: 40%;
      height: 5em;
      line-height: 5em;
    }
    // &-icon > img {
    //   margin-top: 0.8em;
    // }
    &-symbol {
      width: 5%;
      margin: auto;
      height: 5em;
      line-height: 5em;
    }
  }
}
