.app {
  border-radius: 0.5em;
  padding-bottom: 2rem;
  width: 100vw;
  height: 100vh;
  margin: 1em auto;
  text-align: center;
  background-color: #2d3748;
}

.app img {
  max-width: 100%;
}

h1 {
  padding-top: 2rem;
}
