// .header-container {
//   color: #d9e5ef !important;
//   background-color: #122229;
//   display: flex;
//   flex-direction: row;
//   width: 100vw;
//   height: 15vh;
//   justify-content: space-between;
//   align-items: center;
//   &-title {
//     width: 20vw;
//     color: #d9e5ef !important;
//     height: 3em;
//     line-height: 3em;
//     font-weight: bold;
//     font-size: 1.2em;
//     margin-left: 3em;
//   }
//   &-create {
//     width: 20vw;
//     color: #d9e5ef !important;
//     height: 3em;
//     line-height: 3em;
//     font-weight: bold;
//     font-size: 1.2em;
//   }
//   &-login {
//     width: 20vw;
//     color: #d9e5ef !important;
//     height: 3em;
//     line-height: 3em;
//     font-weight: bold;
//     font-size: 1.2em;
//     margin-right: 3em;
//   }

//   .header-container-create:hover,
//   .header-container-login:hover,
//   .header-container-title:hover {
//     color: #122229 !important;
//     background-color: white;
//     border-radius: 1em;
//   }
//   .burger-menu {
//     margin-top: auto;
//     margin-bottom: auto;
//     width: 5vw;
//     height: 5vh;
//     line-height: 5vh;
//     color: black;
//     transform: rotate(90deg) !important;
//   }

//   .logout {
//     margin-right: 10vw !important;
//   }
// }

.header-container {
  color: #d9e5ef !important;
  background-color: #122229;
  width: 100vw;
  height: 3vh;
  line-height: 3vh;
  display: flex;
  justify-content: space-between;
}

.header-container-create,
.header-container-login,
.header-container-logout {
  width: 30%;
  height: 2vh;
  display: none;
}

.header-container-title {
  width: auto;
  height: 2vh;
  padding-left: 0px;
  margin-left: 5vw;
  color: white;
}

.burger-menu {
  color: white;
  width: 5vw;
  height: 2vh;
  line-height: 2vh;
  transform: rotate(90deg) !important;
  display: inline-block;
  margin-right: 5vw;
  margin-top: 0.4vh;
}

.burger-menu:hover {
  color: white;
  width: 5vw;
  height: 2vh;
  line-height: 2vh;
  transform: rotate(90deg) !important;
  display: inline-block;
  margin-right: 5vw;
  margin-top: 0.4vh;
  cursor: pointer;
}

.burger-menu {
  margin-right: 5vw;
  margin-top: 2;
  cursor: pointer;
}

.header-container-create,
.header-container-login {
  display: none;
}

.burger-menu {
  transform: rotate(90deg);
}

.header-submenu > a {
  color: white;
}
.header-submenu-create,
.header-submenu-login,
.header-submenu-logout {
  background-color: red;
}

@media screen and (min-width: 746px) {
  .header-container {
    color: #d9e5ef !important;
    background-color: #122229;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    &-title {
      width: 20vw;
      color: #d9e5ef !important;
      height: 3em;
      line-height: 3em;
      font-weight: bold;
      font-size: 1.2em;
      margin-left: 3em;
    }
    &-create {
      width: 20vw;
      color: #d9e5ef !important;
      height: 3em;
      line-height: 3em;
      font-weight: bold;
      font-size: 1.2em;
    }
    &-login {
      width: 20vw;
      color: #d9e5ef !important;
      height: 3em;
      line-height: 3em;
      font-weight: bold;
      font-size: 1.2em;
      margin-right: 3em;
    }
  }

  .burger-menu {
    display: none;
  }
  .header-container-title,
  .header-container-create,
  .header-container-login {
    width: 20vw;
    color: #d9e5ef !important;
    height: 3em;
    line-height: 3em;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 3em;
    display: inline-block;
  }

  .header-container-create:hover,
  .header-container-login:hover {
    color: #122229 !important;
    width: 20vw;
    background-color: white;
    border-radius: 1em;
    display: inline-block;
    margin-left: 3em;
    justify-content: space-between;
  }
  .header-container-title:hover {
    background-color: green;
    border-radius: 1em;
    color: blue;
    width: 20vw;
    display: inline-block;
    margin-left: 3em;
    justify-content: space-between;
  }
}
