.homepage-container {
  width: 100vw;
  height: 100vh;
  background-color: #267edb;
  text-align: center;
}
.homepage-body {
  height: 80vh;
}

.homepage-title {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

@media screen and (max-width: 746px) {
  .homepage-body {
    max-height: auto;
  }
  .homepage-container {
    min-height: 80vh;
    max-height: auto;
  }
}
