.homepage-container {
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #267edb;
  text-align: center;
}
.homepage-body {
  height: 80vh;
}

.homepage-title {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

@media screen and (max-width: 746px) {
  .homepage-body {
    height: 87vh;
  }
  .homepage-container {
    min-height: 100vh;
    max-height: auto;
  }
}

@media screen and (max-width: 650px) {
  .homepage-container {
    min-height: 100vh;
    max-height: 100vh;
    z-index: 1;
  }
  .homepage-body {
    height: 94vh;
  }
}

@media screen and (height: 800px) {
  .search-bar {
    margin: auto !important;
    width: 60vw !important;
  }
}
