.homepage-container {
  width: 100vw;
  min-height: 100vh;
  max-height: auto;
  background-color: rgb(159, 192, 245);
  text-align: center;
}
.homepage-body {
  min-height: 80vh;
  max-height: auto;
}

.homepage-title {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

@media screen and (max-width: 746px) {
  .homepage-container {
    min-height: 100vh;
    max-height: auto;
  }
  .homepage-body {
    height: 81vh;
    max-height: auto;
  }
}

@media screen and (max-width: 650px) {
  .homepage-container {
    min-height: 100vh;
    max-height: auto !important;
  }
  .homepage-body {
    min-height: 88vh;
    max-height: auto !important;
  }
}

@media screen and (max-width: 320px) {
  .homepage-container {
    min-height: 100vh;
    max-height: auto !important;
  }
  .homepage-body {
    min-height: 94vh;
    max-height: auto !important;
  }
}

@media screen and (max-height: 750px) {
  .search-bar {
    margin: auto !important;
    width: 60vw !important;
  }
  .homepage-container {
    min-height: 100vh;
    max-height: auto !important;
  }
  .homepage-body {
    min-height: 100vh;
  }
}
