.container-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.form-button-disabled {
  cursor: not-allowed !important;
}

.isLogged {
  height: 200px;
  background-color: red;
}
