.form-input {
  padding-top: 2em;
}

.container-button {
  margin-left: 1em !important;
  height: 3em !important;
}

.search-bar {
  height: 3em !important;
}

@media screen and (max-width: 650px) {
  .form-input {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
  }
  .container-button {
    width: auto !important;
    margin: auto !important;
    margin-top: 1em !important;
  }
}
