.header-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 20vh;
  justify-content: space-between;
  line-height: 20vh;
  align-items: center;
  &-title{
    width: 30%;
  }
  &-create{
  width: 30%;
  }
  &-login{
    width: 30%;
  }
}


